<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
    <%- include('../partials/header')%>
   <body class="listings">
        <h1 class="title">Productos</h1>
        
        <div class="despliegue">
                <button class="add-product" type="button" onclick="location.href='/admin/agregar-producto'">
                    <div>
                        <i class="fa fa-plus"></i>
                        <p>Agregar Nuevo</p>
                    </div>
                </button>
                <%  let start = 23 * (page - 1);
                    let end;
                    if (productData.length >= 23 * page) {
                        end = 23 * page;
                    }
                    else {
                        end = productData.length;
                    }
                    for (let i = start; i < end; i ++) { %>
                        <div class="productos">
                            <img src="/images/products/<%=productData[i].photos[0]%>" alt="imagen de producto">
                            <div class="data">
                                <p>ID: <%= productData[i].id %></p>
                                <p>Prenda: <%= dict.type[productData[i].clothingType] %></p>
                                <p>Color: <%= dict.color[productData[i].clothingColor] %></p>
                                <p>Talla: <%= dict.size[productData[i].clothingSize] %></p>
                                <p>Precio: $<%= productData[i].price %>.00</p>
                                <button class="action" type="button" onclick="location.href='/admin/modificar-producto/<%=productData[i].id%>'">Editar</button>
                                <form action="/admin/<%=productData[i].id%>?_method=DELETE" method="POST" style="display: inline-flex">    
                                    <button class="action" type="submit">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    <% } 
                %>
        </div>
        <% if (end < productData.length) {
            let next = parseInt(page) + 1;
            %>
                <div class="page-nav">
                    <%if (page > 1) {
                        let prev = parseInt(page) - 1; %>
                    <button class="action" type="button" onclick="location.href='/admin/lista-productos/<%=prev%>'">Anterior</button>
                    <%}%>
                    <button class="action" type="button" onclick="location.href='/admin/lista-productos/<%=next%>'">Siguiente</button>
                </div>
        <%}
        else {
            let prev = parseInt(page) - 1; %>
            <div class="page-nav">
                <button class="action" type="button" onclick="location.href='/admin/lista-productos/<%=prev%>'">Anterior</button>
            </div>
        <%}%>
    </body>
</html>
